body {
    font-family: Arial, Helvetica, sans-serif;
}

.emdash {
    /* font-weight: bold; */
    font-size: larger;
}

/* <Introduction Div> */
.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

h1 {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.introduction p {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* </Introduction Div> */
/* <Main Div> */

main {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
}

.newRow,
.titleRow {
    display: flex;
    height: 8vh;
    margin-top: 2vh;
}

.titleRow div {
    text-align: center;
    font-weight: bold;
}

.titleInteractiveDescriptionOfExercise {
    width: 5%;
    margin-right: 1vw;
}

.interactiveDescriptionOfExercise {
    width: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-right: 1vw;
}

.titleName {
    width: 35%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-right: 1vw;
}

.titleName p {
    font-size: 1.1vw;
    margin-left: 1vw;
}

.exerciseName {
    width: 35%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-right: 1vw;
    display: flex;
    align-items: center;
    position: relative;
}

.exerciseName:hover {
    cursor: pointer;
}

.exerciseName p {
    font-size: 1.1vw;
    margin-left: 1vw;
    text-align: center;
}

.titleSets {
    width: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-right: 1vw;
    text-align: center;
}

.numberOfSets {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-right: 1vw;
    text-align: center;
}

.numberOfSets:hover {
    cursor: pointer;
}

.titleReps {
    width: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-right: 1vw;
    text-align: center;
}

.numberOfRepetitions {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-right: 1vw;
    text-align: center;
}

.numberOfRepetitions:hover {
    cursor: pointer;
}

.titleComment {
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-right: 1vw;
}

.titleComment p {
    font-size: 1.1vw;
    margin-left: 1vw;
}

.exerciseComment {
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-right: 1vw;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.exerciseComment:hover {
    cursor: pointer;
}

.exerciseComment p {
    font-size: 1.1vw;
    margin-left: 1vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-right: 1vw;
}

.rowDropDownTitle {
    width: 3%;
    margin-right: 1vw;
}

.rowDropDown {
    width: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-right: 1vw;
}

.rowDropDown button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-image: url('customMedia/dropdownArrowLeft.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.deleteButtonTitle {
    width: 3%;
}

.deleteButtonDiv {
    width: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.deleteButtonDiv button {
    width: 100%;
    height: 100%;
    background-color: red;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.addButton {
    display: flex;
}

.addButton button {
    width: 10vw;
    height: 8vh;
    margin-top: 2vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(7, 227, 7);
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

button:hover {
    opacity: 1;
}

.errorOutput {
    margin-top: 2vh;
    padding-left: 1vw;
    color: red;
    flex: 1;
    align-items: center;
}

.errorFadeAway {
    animation: fadeOut 4s ease-in forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.inputTextArea {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    padding-left: 0.3vw;
    margin: 0;
    box-sizing: border-box;
    border-radius: 8px;
    resize: vertical;
    overflow: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 1.2vw;
    outline: 3px solid rgb(0, 0, 0);
    z-index: 10;
}

/* // */

.divBeingDraggedCurrently {
    margin-left: 1vw;
    transform: scale(1.025);
    transform-origin: bottom left;
}

.expandedExerciseSingleRow {
    display: flex;
    height: 6vh;
    margin-top: 2vh;
}

.allChildrenDivsOfExpandedExercise {
display: flex;
align-items: center;
position: relative;
justify-content: center;
width: 5%;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
border-radius: 8px;
margin-right: 1vw;
text-align: center;
font-weight: bold;
}

.allChildrenDivsOfExpandedExercise:not(.setNumber, .set10RM):hover {
    cursor: pointer;
}

.setNumber {
    margin-right: 1.7vw;
}

.setWeight {
    width: 10%;
}

.setComment {
    width:30%;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
}

.setComment p {
    font-size: 1.1vw;
    margin-left: 1vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-right: 1vw;
}

.deleteSetButtonDiv {
    width: 3%;
}

.setPlaceHolder5Width {
    width: 5%;
    margin-right: 1vw;
}

.setPlaceHolder3Width {
    width: 3%;
    margin-right: 1vw;
}

.placeHolderNoMargin {
    margin-right: 0;
}

.afterSetsExpansion {
    font-weight: normal;
}

/* <Main Div> */